*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(../img/login-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

li{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.header{
    /* background-color: aqua; */
    height: 80px;
    /* padding: 10px; */
}

h1{
    margin-left: 10px;
    margin-top: 5px !important;
    margin-bottom: 0rem !important;
}

/* logo and name */
h1 #logo-left .logo{
    width: 80px;
    float: left;
}

h1 #logo-name{
    float: left;
    font-family: 'Abel', sans-serif;
    margin-left: 22px;
    line-height: 80px;
}

.NaviBar{
    float: right;
    /* background-color: blue; */
    width: 470px;
    height: 80px;
}

.NaviBar li{
    float: left;
    margin-right: 42px;
}

.NaviBar li a{
    color: #979797;
}

/* for frosted glass purpose-part 1*/
.middle{
    position: relative;
    margin: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background: inherit;
    overflow: hidden;   
    border-radius: 75px; 
    /* overflow: scroll; */
}
.middle-box{
    width: 1148px;
}
/* for frosted glass purpose-part 2*/
.middle::before{
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

#login-middle{
    width: 1148px;
    height: 500px;
}

.base{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 583px;
    height: 330px;
    margin: auto;
    padding-top: 90px;
    border-radius: 80px;
}

.BTLogo{
    background-image: url(../img/apple-touch-icon.png);
    background-color: #979797;
    width: 100px;
    height: 100px;
    margin: -144px auto 45px auto;
    border-radius: 25px;
}

.middle .base .userInfo div{
    background-color: #ededed;
    width: 239px;
    height: 40px;
    text-align: center;
    margin: 14px auto;
    padding-right: 4px;
    line-height: 40px;
    border-radius: 25px;
}

.middle .base .userInfo div svg{
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 7px;
}

.bi{
   /* background-color: aqua; */
   width: 17px;
   height: 17px;
   float: left;
}

.bi-eye{
    float: right;
    /* background-color: burlywood; */
}

.middle .base .userInfo div input{
    border: none;
    outline: none;
    background-color: #ededed;
    height: 35px;
    float: left;
}

.middle .base #remLogin .rememberLoginBox .btn_mod{
    margin-left: 145px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.button-self{
    margin: 0 auto;
    display: block;
    background: #B1DADF; 
    border: none;
    color: white;
    box-shadow: 3px 7px 6px rgba(255, 255, 255, 0.514);
}


.button-self:hover{
    background-color: #78cad5;
}

.button-self:active{
    background-color: #DBDBDB;
}

.button-self:checked{
    background-color: #DBDBDB;
}

#btnLogin{
    width: 238px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
}

#help-btn .help{
    float: right;
    margin-right: 70px;
    margin-top: 20px;
}

.copyright p{
    position: absolute;
    /* background-color: bisque; */
    height: 30px;
    text-align: center;
    line-height: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 50px;
    color: #9a9a9a;
}
/* -------------------------------menu_page-------------------------- */
.menu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: white; */
    width: 683px;
    height: 450px;
    margin: auto;
    padding-top: 10px;
    border-radius: 45px;
}
.menuLogo{
    background-image: url(../img/apple-touch-icon.png);
    background-color: #979797;
    width: 100px;
    height: 100px;
    margin: 0 auto 60px auto;
    border-radius: 25px;
}

#btnMenu{
    width: 400px;
    height: 40px;
    margin-top: 25px;
    border-radius: 45px;
    font-size: 25px;
}

.copyright p{
    margin-bottom: 15px;
}

.bi-gear{
    width: 30px;
    height: 30px;
}
/* -------------------------------your_choice_page-------------------------- */
.choice button{
    border: none;
    border-style: none;
    border-color: transparent;
    border-radius: 34px;
}
.choice button img{
    border-radius: 34px;
}
.choice li{
    position: relative;
}
.choice-close-btn, .choice-close-btn .iconify{
    position: absolute;
    transform: translate(-50%, -50%);
}
.choice-close-btn{
    right: 0;
}
.choice-close-btn .iconify{
    width: 52px;
    height: 52px;
    color: #4295a0;
    z-index: 20;
    background-color: white;
    border-radius: 100%;
    padding: 12px;
}
.middle .choice{
    position: relative;
    margin-top: 80px;
    margin-left: 9px;
}
.middle .choice li{
    float: left; 
    margin-right: 50px;
    margin-bottom: 30px;
    width: 228px;
    height: 230px;
    /* background-color: #979797 */
}
.middle .choice li:nth-child(4n){
    margin-right: 0;
}
.choice img{
    width: 228px;
    height: 150px;
}
.choice li .selected-choice{
    font-weight: bold;
    color: black;
    font-size: large;
    margin-top: 12px;
    text-align: center;
}
.choice li .total-credit-hours{
    text-align: center;
    font-size: small;
}

/* ---------------------device screen---------------------- */
@media all and (max-width:600px){
    

    h1 #logo-name{
        /* background-color: brown; */
        font-size: 23px;
    }
    #login-middle{
        width: 488px;
        height: 413px;
    }
    .NaviBar{
        background-color: white;
        width: 500px;
        height: 30px;
        margin-bottom: 20px;
    }
    .base{
        width: 440px;
    }
    .menu{
        width: 400px;
        height: 400px;
    }

}